[submodule "ShareXPortable"]
	path = ShareXPortable
	url = http://github.com/uroesch/ShareXPortable.git
	branch = master
[submodule "LdapAdminPortable"]
	path = LdapAdminPortable
	url = http://github.com/uroesch/LdapAdminPortable.git
	branch = master
[submodule "DBeaverPortable"]
	path = DBeaverPortable
	url = http://github.com/uroesch/DBeaverPortable.git
	branch = master
[submodule "ApacheDirectoryStudioPortable"]
	path = ApacheDirectoryStudioPortable
	url = http://github.com/uroesch/ApacheDirectoryStudioPortable.git
	branch = master
[submodule "ApacheJMeterPortable"]
	path = ApacheJMeterPortable
	url = http://github.com/uroesch/ApacheJMeterPortable.git
	branch = master
[submodule "MattermostPortable"]
	path = MattermostPortable
	url = http://github.com/uroesch/MattermostPortable.git
	branch = master
[submodule "JoplinPortable"]
	path = JoplinPortable
	url = http://github.com/uroesch/JoplinPortable.git
	branch = master
[submodule "WinMergeJPPortable"]
	path = WinMergeJPPortable
	url = http://github.com/uroesch/WinMergeJPPortable.git
	branch = master
[submodule "KeyStoreExplorerPortable"]
	path = KeyStoreExplorerPortable
	url = https://github.com/uroesch/KeyStoreExplorerPortable.git
	branch = master
[submodule "GitPortable"]
	path = GitPortable
	url = https://github.com/uroesch/GitPortable.git
	branch = master
[submodule "PortableApps.comLauncher"]
	path = PortableApps.comLauncher
	url = https://github.com/uroesch/PortableApps.comLauncher.git
	branch = patched
[submodule "PortableApps.comInstaller"]
	path = PortableApps.comInstaller
	url = https://github.com/uroesch/PortableApps.comInstaller.git
	branch = master
[submodule "PlantUMLPortable"]
	path = PlantUMLPortable
	url = https://github.com/uroesch/PlantUMLPortable.git
[submodule "PlinkProxyPortable"]
	path = PlinkProxyPortable
	url = https://github.com/uroesch/PlinkProxyPortable.git
[submodule "DrawIOPortable"]
	path = DrawIOPortable
	url = https://github.com/uroesch/DrawIOPortable.git
[submodule "PortableAppsTemplate"]
	path = PortableAppsTemplate
	url = https://github.com/uroesch/PortableAppsTemplate.git
[submodule "CmderMiniPortable"]
	path = CmderMiniPortable
	url = https://github.com/uroesch/CmderMiniPortable.git
[submodule "CmderPortable"]
	path = CmderPortable
	url = https://github.com/uroesch/CmderPortable.git
[submodule "PuTTYPortable"]
	path = PuTTYPortable
	url = https://github.com/uroesch/PuTTYPortable.git
